/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--kv-color-1);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
  .buttons {
    flex-direction: column;
  }
  .buttons a {
    width: 100%;
    max-width: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.buttons a {
    flex: 1;
    max-width: 180px;
}
